@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html, body, p, button, ul, li, a, div, span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

body{
  width: 100%;
  font-size: 12px;
  padding: 3rem;
}

.main-body{
  display: grid;
  grid-template-columns:  2fr 3fr;
  column-gap: 1rem;
  justify-content: center;
  align-content: center;
}

.left-grid,.right-grid{
   max-width: 100%;
    height: auto;
    border-radius: 8px;
    /* Set to block to prevent extra space under the image */
    display: block;
}

/*left-grid*/
/*left-grid*/
/*left-grid*//*left-grid*//*left-grid*//*left-grid*//*left-grid*//*left-grid*//*left-grid*//*left-grid*//*left-grid*//*left-grid*/
/*left-grid*/
/*left-grid*/

.head-text{
  position: absolute;
  top: 30px;       /* adjust as needed */
  left: 40px;
  z-index: 10;     /* makes sure it's above */ 
  font-size: 24px;
}

.left-grid{
  position: relative;
  height: 90vh;
  clip-path: polygon(0% 6.05%, 20.64% 6.05%, 30% 0%, 100% 0%, 100% 100%, 0% 100%);
  border-radius: 1rem;
  color: whitesmoke;
  padding: 70px 40px;
  letter-spacing: 2px;
}

.intro, .intro span{
  font-size: 50px;
  line-height: 1.2;
}

.desc{
  font-size: 22px !important;
  letter-spacing: 0 !important;
  opacity: 60%;
  transition: .5s;
  margin-bottom: 5rem;
}

.learn{
  font-size: 18px !important;
  letter-spacing: 0 !important;
  opacity: 50%;
  gap: 15px;
  transition: .5s !important;
}

.summ{
  font-size: 12px;
  max-width: 240px;
  letter-spacing: 0 !important;
  opacity: 50%;
  transition: .5s;
}

.left-grid {
  background-color: #170101;
  background-image:
    url('../media/myphoto.png'),
    linear-gradient(
      147deg, 
      rgba(23, 1, 1, 0.8) 0%, 
      rgba(52, 6, 6, 0.8) 50%, 
      rgba(102, 13, 13, 0.8) 100%
    );

  /* First value = gradient, Second value = image */
  background-size: 100%, 100%;
  background-position: 150px 100px, center;
  background-repeat: no-repeat, no-repeat;
  cursor: pointer;
  transition: .5s;
}

.left-grid.active {
  background-color: #170101;
  background-image:
    url('../media/myphoto.png'), 
    linear-gradient(
      147deg, 
      rgba(23, 1, 1, 0.8) 0%, 
      rgba(52, 6, 6, 0.8) 50%, 
      rgba(102, 13, 13, 0.8) 100%
    );
  background-size: 50%, 100%;
  background-position: 400px 400px, center;
  transition: .5s;
}

.content2-text{
  padding: 1rem;
  border: whitesmoke 1px solid;
  border-radius: 8px;
  background-color: rgba(245, 245, 245, 0.074);
}

.expertise{
  display: flex;
  justify-content: start;
  gap: 5px;
}

.skill{
  padding: 1rem;
  border: whitesmoke 1px solid;
  border-radius: 4px;
  background-color: rgba(245, 245, 245, 0.074);
}

#content2{
  opacity: 50%;
  transition: .5s;
}

.left-grid:hover{
  transform: scale(1.02);
  z-index: 10;
  .desc, .summ, .learn{
    opacity: 100%;
  }
  #content2{
  opacity: 100%;
}
}

/*right-grid*/
/*right-grid*/
/*right-grid*//*right-grid*//*right-grid*//*right-grid*//*right-grid*//*right-grid*//*right-grid*//*right-grid*//*right-grid*/
/*right-grid*/
/*right-grid*/

.right-grid{
  height: 90vh;
  display: grid;
  grid-template-rows: 4fr 4fr 1fr;
  row-gap: 1rem;
}

/*hightlights*//*hightlights*//*hightlights*//*hightlights*//*hightlights*//*hightlights*//*hightlights*//*hightlights*/

.highlight{
  background-color: rgb(13, 13, 13);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* vertical center */
  align-items: center;      /* horizontal center */
  text-align: center;
  transition: .5s;
}

.highlight p{
  color: whitesmoke;
  opacity: 80%;
}

.text-muted, .display-4{
  transition: .5s;
}

.highlight:hover{
  transform: scale(1.02);
  .display-4{
    transform: scale(.5);
    opacity: 20% !important;
  }
  .text-muted{
    transform: scale(2);
    color: whitesmoke !important;
    opacity: 100% !important;
  }
}


/*work-grid*//*work-grid*//*work-grid*//*work-grid*//*work-grid*//*work-grid*//*work-grid*//*work-grid*//*work-grid*//*work-grid*/

.work-grid{
  display: grid;
  grid-template-columns: 2fr 2fr;
  column-gap: 1rem;
}

.work-subtext{
  padding: 15px 25px;
  color: whitesmoke;
  /* background: linear-gradient(180deg, #0d0d0d, transparent); */
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: .5s;
  opacity: 60%;
}

.work-one:hover, .work-two:hover{
  transform: scale(1.02);
  z-index: 10;
  .work-content, .work-subtext{
    opacity: 20%;
  }
}

.work-content {
  position: absolute;
  bottom: 0;
  padding: 15px 25px;
  text-align: center;
  width: 100%;
  background: linear-gradient(0deg, #0d0d0d, transparent);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: .5s;
  text-align: start;
  color: whitesmoke;
  opacity: 80%;
}

.work-one{
  position: relative;
  width: 100%;
  background-color: #1b1f23;
  border-radius: 1rem;
  background-image: url("../media/portfolio.png");
  background-size: cover;
  background-position-y: -10px;
  background-position-x: center;
  background-repeat: no-repeat;
  transition: .5s;
  cursor: pointer;
  text-decoration: none;
}

.work-two{
  position: relative;
  width: 100%;
  background-color: #1b1f23;
  border-radius: 1rem;
  background-image: url("../media/github.png");
  background-size: 50%;
  background-position-y: 10px;
  background-position-x: center;
  background-repeat: no-repeat;
  transition: .5s;
  cursor: pointer;
  text-decoration: none;
}

.contacts{
  background: #010117;
  background: 
  linear-gradient(
    147deg, 
      rgba(1, 1, 23, 1) 0%, 
      rgba(6, 6, 52, 1) 38%,
      rgba(13, 19, 102, 1) 89%);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.contact-link{
  display: flex;
  column-gap: 20px;
}

.contact-link a{
  color: whitesmoke;
  opacity: 80%;
  font-size: 30px;
  transition: .5s;
  cursor: pointer;
}

.contact-link img{
  margin-top: -5px;
  height: 38px;
  filter: brightness(0) invert(1) sepia(1) saturate(0) hue-rotate(180deg) brightness(0.9);
}

.resume{
  display: flex;
  align-items: center; 
  justify-content: flex-end;
  padding: 4px 1rem;
  border-radius: 6px;
  opacity: 80%;
  gap: 5px;
  transition: 1s;
}

.resume a, .resume span{
  font-size: 24px !important;
  cursor: pointer;
  color: whitesmoke;
}

.contact-link a:hover{
  transform: scale(1.2);
  opacity: 100%;
}

.resume:hover{
  transform: scale(1.08);
  opacity: 100%;
}

/* Responsive Styles *//* Responsive Styles *//* Responsive Styles *//* Responsive Styles *//* Responsive Styles */


@media (max-width: 768px) {

body{
  padding: 0;
}

.main-body {
  display: flex;
  flex-direction: column;
}

.left-grid,.right-grid{
    padding: 0;
    border-radius: 0;
    width: 100% !important;
    max-width: 100%;
    gap: 0;
}

.left-grid {
  height: 100vh;
  clip-path: none;
  background-size: cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  padding: 4rem 1rem !important;
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
}

.left-grid.active {
  background-color: #170101;
  background-image:
    url('../media/myphoto.png'), 
    linear-gradient(
      147deg, 
      rgba(23, 1, 1, 0.8) 0%, 
      rgba(52, 6, 6, 0.8) 50%, 
      rgba(102, 13, 13, 0.8) 100%
    );
  background-size: cover;
  background-position: 150px 500px, center;
}

.head-text{
  display: none;
}

.intro, .intro span {
    font-size: 30px;
}

.desc {
    font-size: 16px !important;
    margin-bottom: 2rem;
}

.summ, .learn {
    max-width: none;
    opacity: 80%;
}

.expertise{
  align-items: center;
}

.work-grid {
    grid-template-columns: 1fr;
    gap: 0;
}

.highlight,
.work-one,
.work-two{
  border-radius: 0;
  height: 400px;
}

.highlight,
.work-subtext,
.work-content,
.contacts,
.work-one,
.work-two{
  border-radius: 0;
}

.work-one{
  background-size: 140%;
  background-position: center;
  background-color: #262626;
}

.work-two{
   background-size: 100%;
   background-position: center;
}

.contacts{
  display: none;
}

.left-grid:hover,
.highlight:hover,
.work-one:hover, 
.work-two:hover,
.resume:hover,
.contact-link a:hover{
  transform: none;
}

.nav-item{
  text-align: center;
}

.navbar {
  background-color: none !important;
  border: none;
}

.navbar:not(.collapsed) {
  background-color: rgba(128, 128, 128, 0.196) !important; 
}
}